h1.highlighted,
h2.highlighted,
h3.highlighted,
h4.highlighted,
h5.highlighted,
h6.highlighted {
    font-weight: bold;
    animation: scaleWobble alternate-reverse ease-in-out 3s;
}

h1.header-target,
h2.header-target,
h3.header-target,
h4.header-target,
h5.header-target,
h6.header-target {
    cursor: pointer;
}


@keyframes scaleWobble {
    0% {
        color: #000;
        text-shadow: white;
        letter-spacing: normal;
    }
    50% {
        color: #327679;
        text-shadow: 5px 0 5px #FFF, -5px 0 5px #FFF;
    }
    70% {
        color: #327679;
        text-shadow: 25px 5px 5px #73b0ff, -25px -5px 5px #73b0ff;
    }
    0% {
        color: #000;
        text-shadow: white;
        letter-spacing: normal;
    }
}

.asset.header {
}