/** Image Asset **/

div.asset-list {
    /*margin: 0.5em;*/
    /*padding: 1em;*/
    /*max-width: 800px;*/
    /*max-height: 600px;*/
    /*text-align: center;*/
}

/** Spread **/

div.asset-list.spread {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}



@media only screen and (min-width: 640px) {

    /** Float **/

    .float-right {
        float: right;
        max-width: 24vw;
        padding-right: 0.5em;
        margin-left: 0.5em;
        clear: right;
    }
    .float-left {
        float: left;
        max-width: 24vw;
        padding-left: 0.5em;
        margin-right: 0.5em;
        clear: left;
    }
    .float-left > .asset,
    .float-right > .asset {
        width: 100%;
    }


}


@media only screen and (min-width: 800px) {
    .float-left,
    .float-right {
    }
    div.asset-list.spread > .asset {
        height: 24vw;
        /*max-width: 30vw;*/
    }
}

@media only screen and (min-width: 1800px) {
    .float-left,
    .float-right {
        max-width: 30em;
    }
    div.asset-list.list {
        max-width: 28em;
    }
    div.asset-list.spread > .asset {
        height: 24em;
        /*max-width: 48em;*/
    }
}
