/** Image Asset **/

div.asset-list {
    /*margin: 0.5em;*/
    /*padding: 1em;*/
    /*max-width: 800px;*/
    /*max-height: 600px;*/
    /*text-align: center;*/
}

/** Spread **/

div.asset-list.spread {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}



@media only screen and (min-width: 640px) {

    /** Float **/

    div.asset-list.right {
        float: right;
        max-width: 24vw;
        padding-right: 0.5em;
        margin-left: 0.5em;
        clear: right;
    }
    div.asset-list.left {
        float: left;
        max-width: 24vw;
        padding-left: 0.5em;
        margin-right: 0.5em;
        clear: left;
    }
    div.asset-list.left > .asset,
    div.asset-list.right > .asset {
        width: 100%;
    }


    div.asset-list > .asset {
        /*width: 100%;*/
        /*padding-bottom: 1em;*/
    }

    div.asset-list > .asset + .asset {
        padding-top: 1em;
    }

    div.asset-list > .asset:last-child {
        padding-bottom: inherit;
    }

    div.asset-list > p {
        margin-top: 2px;
        text-indent: 0 !important;
        text-align: justify !important;
        font-size: smaller;
        background: #CCC;
        padding: 4px;
    }


    /** Spread **/

    div.asset-list.spread {
        /*display: flex;*/
        /*flex-wrap: wrap;*/
    }

    div.asset-list.spread > * {
        /*float: left;*/
        padding: 0.5em;
    }
    div.asset-list.spread > *:nth-child(2n) {
        /*float: right;*/
    }

    div.asset-list.spread > .asset {
        /*max-width: 44vw;*/
    }
}


@media only screen and (min-width: 800px) {
    div.asset-list.left,
    div.asset-list.right {
    }
    div.asset-list.spread > .asset {
        height: 24vw;
        /*max-width: 30vw;*/
    }
}

@media only screen and (min-width: 1800px) {
    div.asset-list.left,
    div.asset-list.right {
        max-width: 30em;
    }
    div.asset-list.list {
        max-width: 28em;
    }
    div.asset-list.spread > .asset {
        height: 24em;
        /*max-width: 48em;*/
    }
}
