/** Image Asset **/

video.asset-image,
img.asset-image {
    cursor: pointer;
    max-width: 100vh;
    z-index: 3;
    position: relative;
    display: block;
    margin: auto;
}

.asset-image + .asset-image {
    margin-bottom: 0.3em;
}

img.asset-image.no-fullscreen {
    /*cursor: default;*/
}

/** Floating **/


@media only screen and (min-width: 640px) {
    .asset-image.float-right {
        float: right;
        width: 24vw;
        padding-right: 0.5em;
        margin-left: 0.5em;
        clear: right;
    }
    .asset-image.float-left {
        float: left;
        width: 24vw;
        padding-left: 0.5em;
        margin-right: 0.5em;
        clear: left;
    }
}


@media only screen and (min-width: 800px) {
    .float-left,
    .float-right {
    }
}

@media only screen and (min-width: 1800px) {
    .float-left,
    .float-right {
        max-width: 30em;
    }
}

/** Fullscreen **/

div.asset-image-fullscreen {
    position: fixed;

    margin: 0 !important;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000D;
    cursor: pointer;

    display: flex;
    justify-content: center;
    justify-items: center;
    z-index: 9;

    animation: fadeIn 0.3s;
}

div.asset-image-fullscreen > img {
    max-width: 80vw;
    /*max-height: 80vw;*/
    object-fit: contain;
    padding: 1em;
    /*background-color: #000;*/
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
