/** NavAsset **/

nav.asset-navigation {

}
nav.asset-navigation > div.nav-container {
    font-size: 18px;
}


nav.asset-navigation a {
    color: #003;
    text-decoration: none;
    display: block;
    padding: 0.2vw 0.5vw;
    margin: 0 0.2vw;
    background-color: transparent;
    border-radius: 1vw;
    transition: background-color .3s;
}


nav.asset-navigation > div.nav-container > .main,
nav.asset-navigation > div.nav-container > .sub {
    padding: 2px;
    background-color: #999;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav.asset-navigation > div.nav-container > .sub {
    background-color: #888;
}
nav.asset-navigation > div.nav-container > .sub + .sub {
    background-color: #777;
}
nav.asset-navigation > div.nav-container > .sub + .sub  + .sub {
    background-color: #666;
}

nav.asset-navigation.floating > div.nav-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
}

nav.asset-navigation > div.bottom-text {
    display: none;
}

nav.asset-navigation.floating > div.bottom-text {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    display: block;
    background: #DDD;
    border-top: 2px solid #888;
    cursor: pointer;
    text-align: center;
    clear: both;
    padding: 0.5em;
}


