.theme-default {
  color: #000;
  background-color: #ddd;
  min-height: 100vh;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

  display: flex;
  flex-direction: column;
}

.theme-default article {
  color: #000;
  background-color: #ccc;
  min-height: 50vh;
  margin: 0 auto;
}

.theme-default header {
  clear: both;
  margin: 0 auto;
}
.theme-default footer {
  border-top: 2px solid #888;
  clear: both;
}