body {
  color: #000;
  background-color: #ccc;
  //padding-bottom: 4em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

* {
  scroll-margin-top: 10vh;
}

.theme-default {
  //color: #000;
  //background-color: #ccc;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/** Header **/

.theme-default header {
  clear: both;
  background-color: #ddd;
  display: flex;
  justify-content: center;
}

/** Section **/

.theme-default section {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  margin: 0 auto;
}

.theme-default > section {
  padding: 0 2vw;
  max-width: 1600px;
}

/** Article **/

.theme-default article {
  //color: #000;
  //min-height: 50vh;
  //min-width: 90vw;
  margin: 0 auto;
  clear: both;

  /** Paragraphs **/
  > p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-indent: 12px;
    text-align: justify;
  }

  h1 {
    font-size: 1.7em;
    clear: left;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 1.0em;
  }

  > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > blockquote, > pre {
    max-width: 1160px;
    margin: 0.7em auto 0.7em auto;
    @media only screen and (min-width: 1400px) {
      max-width: 1360px;
      //max-width: 70vw;
    }
  }

}

@media only screen and (min-width: 1800px) {
  .theme-default article {
    //width: 1600px;
  }

}

.theme-default article > pre > code,
.theme-default article > p > code {
  background: #C0C0C0;
  border-radius: 2px;
  white-space: pre-wrap;
}

.theme-default article > pre,
.theme-default article > blockquote {
  background: #C0C0C0;
  padding: 1em;
  white-space: normal;
  font-style: italic;
  border-radius: 4px;
  border-left: 4px solid #AAA;
  border-right: 4px solid #AAA;

  > p {
    margin: 0;
  }
}


/** Anchor Links **/

.theme-default a:not(:hover) {
  text-decoration: none;
  color: #33A;
}

.theme-default a.selected {
  color: #1c1cd4;
  font-weight: bold;
}

/** Footer **/

.theme-default footer {
  clear: both;
  border-top: 2px solid #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-top: 2px solid #888;
}

/** Image Asset **/

.asset {
  position: relative;
  display: block;
  margin: auto;
}

.asset.video,
.asset.image {
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
  z-index: 3;
  padding-bottom: 0.2em;
}


.asset.video {
  //min-width: 42vw;
  //min-height: 24vw;
  margin: 0.5em auto;
}

@media only screen and (min-width: 1000px) {
  .asset.video,
  .asset.image {
    max-height: 900px;
  }
}


.asset.rounded {
  border-radius: 1em;
}

/** Within a Paragraph **/

p > .asset.image,
p > .asset.video {
  @media only screen and (min-width: 640px) {
    max-height: 80%;
    max-width: 70%;
  }
}

/** Floating Images **/


@media only screen and (min-width: 640px) {
  .asset-spread .asset {
    max-width: 40vw;
    max-height: 38vh;
    padding: 0.4vw;
  }

  .asset-spread {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    clear: both;
  }

  .asset.float-left,
  .asset.float-right,
  {
    max-width: 32vw;
    max-height: 32vw;
    margin: 0 0.5em 0 0.5em;

    @media only screen and (min-width: 1200px) {
      max-width: 24vw;
      max-height: 24vw;
    }


    @media only screen and (min-width: 1800px) {
      max-width: 32em;
      max-height: 28em;
    }
  }

  .asset.float-left {
    float: left;
    clear: left;
    margin-left: 0;

    + .asset.float-left {
      margin-bottom: 0.2em;
    }

  }
  .asset.float-right {
    float: right;
    clear: right;
    margin-right: 0;

    + .asset.float-right {
      margin-bottom: 0.2em;
    }
  }
}

