/** Fullscreen **/

div.asset-image-fullscreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 !important;
  //padding: 5vh 5vw;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000D;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  z-index: 11;

  animation: fadeIn 0.3s;


  > .asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-aspect-ratio: 5/4) {
      flex-direction: row;
      > img {
        max-width: 70vw;
        //min-width: 50%;
      }

    }

    a {
      color: #AAD;
    }


    > img {
      max-height: 80vh;
      object-fit: contain;
      /*background-color: #000;*/
    }

    > .text-container {
      color: white;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-indent: 12px;
      text-align: justify;
      margin: 1vw;
    }

  }

  > .source {
    font-style: italic;
    font-size: smaller;
    text-decoration: none;
    position: absolute;
    left: 4px;
    bottom: 4px;
  }

  > .next, > .previous, > .close {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: indianred;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 6px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 9;

    &:hover {
      background-color: indianred;
      color: red;
    }
  }

  > .next {
    top: 50vh
  }

  > .previous {
    left: 0;
    top: 50vh
  }

  &.animation-left {
    > img {
      animation: fadeInLeft 0.3s;
    }
  }

  &.animation-right {
    > img {
      animation: fadeInRight 0.3s;
    }
  }

}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100%) rotate(-10deg)
  }
  100% {
    opacity: 1;
    transform: translateX(0%) rotate(0)
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-10deg)
  }
  100% {
    opacity: 1;
    transform: translateX(0%) rotate(0)
  }
}

