/** Fullscreen **/

div.asset-image-fullscreen {
  position: fixed;

  margin: 0 !important;
  padding: 5vh 5vw;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000D;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 11;

  animation: fadeIn 0.3s;


  @media (min-aspect-ratio: 5/3) {
    flex-direction: row;
  }

  > img {
    width: 90vw;
    max-height: 60vh;
    object-fit: contain;
    /*background-color: #000;*/

    @media (min-aspect-ratio: 5/3) {
      max-height: 90vh;
      width: 60vw;
    }
  }

  > .alt-text {
    position: relative;
    //max-height: 30vh;
    //background: #000;
    color: white;
    //flex: 1 1;
    margin-left: 1vw;
    margin-top: 2vh;

    > * {
      margin-top: 0;
      cursor: default;
    }

    > .source {
      font-style: italic;
      font-size: smaller;
    }

    > a {
      display: block;
    }

    > p {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-indent: 12px;
      text-align: justify;
    }

  }

  > .next, > .previous, > .close {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: indianred;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 6px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: indianred;
      color: red;
    }
  }

  > .next {
    top: 50vh
  }

  > .previous {
    left: 0;
    top: 50vh
  }

  &.animation-left {
    > img {
      animation: fadeInLeft 0.3s;
    }
  }

  &.animation-right {
    > img {
      animation: fadeInRight 0.3s;
    }
  }

}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100%) rotate(-10deg)
  }
  100% {
    opacity: 1;
    transform: translateX(0%) rotate(0)
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-10deg)
  }
  100% {
    opacity: 1;
    transform: translateX(0%) rotate(0)
  }
}

